<div class="container col-md-12">
  <h4>DETAIL COURRIER DEPART</h4>
  <form method="post" [formGroup]="addForm">
    <div class="row">
      <div class="col-md-6">
        <label>Numéro Courier</label>
        <input
          type="text"
          disabled
          class="form-control"
          formControlName="numeroCourier"
        />
      </div>
      <div class="col-md-6">
        <label class="form-label">Object</label>
        <input
          disabled
          type="text"
          class="form-control"
          formControlName="object"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label>Destinataire</label>
        <input
          type="text"
          disabled
          class="form-control"
          formControlName="destinataire"
        />
      </div>

      <div class="col-md-6">
        <label>Date départ</label>
        <input
          type="date"
          disabled
          class="form-control"
          formControlName="Date"
        />
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label>NUMERO FACTURE </label>
        <input
          type="text"
          class="form-control"
          disabled
          formControlName="NumeroFacture"
        />
      </div>
      <div class="col">
        <label>MONTANT</label>
        <input
          type="text"
          class="form-control"
          disabled
          formControlName="montant"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <label>Observation Courier</label>
        <textarea
          class="form-control"
          disabled
          rows="3"
          formControlName="observation"
        ></textarea>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col">
        <label>Nombre de pieces</label>
        <input type="text" disabled class="form-control" formControlName="nombrePiece"/>
      </div>
      <div class="col">
        <label>Numéro Ordre</label>
        <input type="text" disabled class="form-control" formControlName="numeroOrdre"/>
      </div>
    </div> -->
  </form>
</div>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>ANNULER</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>FERMER</button>
</mat-dialog-actions>
