<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <img
      src="../assets/logo_coud.png"
      alt="..."
      class="img"
      height="60"
      width="200"
    />
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto" *ngIf="role.includes('ROLE_COORDINATEUR')">
        <li class="navbar-brand active">
          <a class="nav-link active" routerLink="/container/accueil">ACCUEIL</a>
        </li>
        <li class="navbar-brand active">
          <a class="nav-link active" routerLink="/container/courier"
            >GESTION DES COURRIERS</a
          >
        </li>
        <!-- <li class="navbar-brand active">
          <a
            class="nav-link active"
            routerLink="/container/fichedecontroleinterne"
            >Fiche de controle</a
          >
        </li> -->
        <li class="navbar-brand">
          <a
            class="nav-link active"
            routerLink="/container/utilisateurs"
            tabindex="-1"
            aria-disabled="true"
            >GESTION DES UTILISATEURS</a
          >
        </li>
      </ul>
      <div class="marquee">
        <marquee width="50%"  *ngIf="role.includes('ROLE_ASSISTANTE')"
          >GESTION DES COURRIERS ARRIVÉE</marquee
        >
        <marquee width="50%"  *ngIf="role.includes('ROLE_CONTROLEURS')"
          >GESTION DES FICHES DE CONTROLE</marquee
        >
      </div>
    </div>
    <div class="col-md-3">
      <ul class="navbar-nav mr-auto active">
        <div class="d-flex">
          <div class="navbar-brand active" id="user">
            <a
              class="nav-link dropdown-toggle active"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              {{ prenom }} {{ nom }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item">{{ prenom }} {{ nom }}</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" (click)="logOout()">Déconnexion</a>
            </div>
          </div>
        </div>
      </ul>
    </div>
  </div>
</nav>
