<div class="container">
 <div class="card-body ">
     <div class="card text-center" style="width:100%; background-color: #28a745;">
     <h3 style="color:white">ENREGISTREMENT D'UNE FACTURE</h3></div>
 </div>
</div>

<div class="container shadow-lg p-3" style=" background-color: white;">
   
    <form method="post">
      <div class="form-group">
        <label style="font-size: 18px; color: black;">Numéro de facture</label><label  style="color: red; font-size: 20px;">*</label><br> 
        <input type="texte" class="form-control" placeholder="Numéro Facture:" name="saisir">
      </div>
      <div class="form-group">
        <label style="font-size: 18px; color: black;">Montant</label><label  style="color: red; font-size: 20px;">*</label><br> 
        <input type="texte" class="form-control" placeholder="Montant:" name="saisir">
      </div>
      <div class="form-group">
        <label style="font-size: 18px; color: black;">Objet</label><label  style="color: red; font-size: 20px;">*</label><br> 
        <input type="texte" class="form-control" placeholder="Objet:" name="saisir">
      </div>
      <div class="form-group">
        <label style="font-size: 18px; color: black;">Bénéficiare</label><label  style="color: red; font-size: 20px;">*</label><br> 
        <input type="texte" class="form-control" placeholder="Bénéficiare :" name="saisir">
      </div>
     <div class="form-group">
      <select class="form-control" id="courrier" formControlName="courrier">
        <option disabled>choisir un controleur</option>
        <option value="{{ courriersArriver.id}}" *ngFor="let courriersArriver of courrier">{{ courriersArriver.object}}</option>
      <!-- <option value="/api/coud/controleurs/{{ ctrl.id }}"  *ngFor="let ctrl of controleur">{{ctrl.prenom}} {{ctrl.nom}}</option> -->
      </select>
     </div>
      <div class="text-center">
        <button type="submit" class="btn btn-success" name="submit">Annuler</button>
        <button type="submit" class="btn btn-success ml-5" name="submit">Enrégistrer</button>
      </div>
  </form>
 </div>

 


