<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container-fluid col-md-12">
      <h4>AJOUTER UN COURRIER ARRIVEE</h4>
      <div
        *ngIf="erreur != ''"
        class="login-erreur-container text-center bg-danger"
      >
        <span class="login-erreur"> {{ erreur }} </span>
      </div>
      <div
        *ngIf="success != ''"
        class="login-erreur-container text-center bg-success"
      >
        <span class="login-erreur"> {{ success }} </span>
      </div>
      <form [formGroup]="addForm">
        <div class="row">
          <div class="col-md-12">
            <label for="object:" class="form-label">TYPE DE COURRIER</label>
            <select
              name="typeDeCourrier"
              class="form-control"
              formControlName="typeDeCourrier"
            >
              <option selected disabled>CHOISIR LE TYPE DU COURRIER</option>
              <option value="MEDICALE">MEDICALE</option>
              <option value="FACTURE">FACTURE</option>
              <option value="TRAVEAUX">TRAVEAUX</option>
            </select>
            <span
              class="login-erreur"
              *ngIf="erreurtypeDeCourrier != ''"
              style="color: red"
            >
              {{ erreurtypeDeCourrier }}
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label for="NumeroFacture:" class="form-label"
              >Numéro Facture</label
            >
            <input
              type="text"
              class="form-control"
              id="NumeroFacture"
              formControlName="NumeroFacture"
            />
            <span
              class="login-erreur"
              *ngIf="erreurFacture != ''"
              style="color: red"
            >
              {{ erreurFacture }}
            </span>
          </div>
        <div class="row">
          <div class="col">
            <label for="object:" class="form-label">Object</label>
            <input
              type="text"
              class="form-control"
              id="object"
              formControlName="object"
            />
            <span
              class="login-erreur"
              *ngIf="erreurobject != ''"
              style="color: red"
            >
              {{ erreurobject }}
            </span>
          </div>
          <div class="col">
            <label for="destinataire:" class="form-label">DESTINATAIRE</label>
            <input
              type="text"
              class="form-control"
              id="destinataire"
              formControlName="destinataire"
            />
            <span
              class="login-erreur"
              *ngIf="erreurdestinataire != ''"
              style="color: red"
            >
              {{ erreurDestinataire }}
            </span>
          </div>
        </div>
        
          <div class="col">
            <label for="montant" class="form-label">Montant</label>
            <input
              type="text"
              class="form-control"
              id="montant"
              formControlName="montant"
            />
            <span
              class="login-erreur"
              *ngIf="erreurMontant != ''"
              style="color: red"
            >
              {{ erreurMontant }}
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label>Numéro Du Courier</label>
            <input
              type="text"
              class="form-control"
              formControlName="numeroCourier"
              id="numeroCourier"
            />
            <span
              class="login-erreur"
              *ngIf="erreurnumeroCourier != ''"
              style="color: red"
            >
              {{ erreurnumeroCourier }}
            </span>
          </div>
          <div class="col">
            <label>Date Arriver du Courier</label>
            <input
              type="Date"
              class="form-control"
              formControlName="Date"
              id="Date"
            />
            <span
              class="login-erreur"
              *ngIf="erreurdateArriver != ''"
              style="color: red"
            >
              {{ erreurdateArriver }}
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label>Expediteur Du Courier</label>
              <input
                type="text"
                class="form-control"
                formControlName="expediteur"
                id="expediteur"
              />
              <span
                class="login-erreur"
                *ngIf="erreurexpediteur != ''"
                style="color: red">
                {{ erreurexpediteur }}
              </span>
            </div>
          </div>
          <div class="col">
            <label>AFFECTER UN CONTROLEUR</label>
            <select
              class="form-control"
              id="controleurs"
              formControlName="controleurs"
            >
              <option disabled>CHOISIR UN CONTROLEUR</option>
              <option
                value="/api/coud/controleurs/{{ ctrl.id }}"
                *ngFor="let ctrl of controleur"
              >
                {{ ctrl.prenom }} {{ ctrl.nom }}
              </option>
            </select>
            <span
              class="login-erreur"
              *ngIf="erreurControleur != ''"
              style="color: red"
            >
              {{ erreurControleur }}
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label>Numéro Correspondance</label>
            <input
              type="text"
              class="form-control"
              formControlName="numeroCorrespondance"
              id="numeroCorrespondance"
            />
            <span
              class="login-erreur"
              *ngIf="erreurnumeroCorrespondance != ''"
              style="color: red"
            >
              {{ erreurnumeroCorrespondance }}
            </span>
          </div>
          <div class="col">
            <label>Date Corres Courier</label>
            <input
              type="date"
              class="form-control"
              id="dateCorrespondance"
              formControlName="dateCorrespondance"
            />
            <span
              class="login-erreur"
              *ngIf="erreurdateCorrespondance != ''"
              style="color: red"
            >
              {{ erreurdateCorrespondance }}
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label>Numéro Réponse</label>
            <input
              type="text"
              class="form-control"
              formControlName="numeroReponse"
              id="numeroReponse"
            />
            <span
              class="login-erreur"
              *ngIf="erreurnumeroReponse != ''"
              style="color: red"
            >
              {{ erreurnumeroReponse }}
            </span>
          </div>
          <div class="col">
            <label>Date Réponse</label>
            <input
              type="date"
              class="form-control"
              id="dateReponse"
              formControlName="dateReponse"
            />
            <span
              class="login-erreur"
              *ngIf="erreurdateReponse != ''"
              style="color: red"
            >
              {{ erreurdateReponse }}
            </span>
          </div>
        </div>
        <div class="text-center">
          <button
            type="submit"
            class="btn btn-lg btn-block"
            name="submit"
            (click)="onSignIn()"
          >
            ENREGISTRER
          </button>
        </div>
      </form>
    </div>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>ANNULER</button>
      <button mat-button [mat-dialog-close]="true" cdkFocusInitial>
        APPLIQUER
      </button>
    </mat-dialog-actions>
  </body>
</html>
