<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4>COURRIER ARRIVÉ</h4>
    </div>
  </div>
  <div class="form">
    <div class="row">
      <div class="col-md-6">
        <label>TYPE DU COURRIER</label>
        <span class="form-control">{{ courrierDetail["typeDeCourrier"] }}</span>
      </div>
      <div class="col-md-6">
        <label>DESTINATAIRE</label>
        <span class="form-control">{{ courrierDetail["destinataire"] }}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">  
        <label>Numero Du Courier</label>
        <span class="form-control">{{ courrierDetail["numeroCourier"] }}</span>
      </div>
      <div class="col-md-6">
        <label for="object:" class="form-label">Object</label>
        <span class="form-control">
          {{ courrierDetail["object"] }}
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>EXPÉDITEUR DU COURRIER</label>
          <span class="form-control">{{ courrierDetail["expediteur"] }}</span>
        </div>
      </div>
      <div class="col-md-6">
        <label>Date Arriver du Courier</label>
        <span class="form-control">{{ courrierDetail["dateArriver"] }}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>NUMÉRO FACTURE</label>
          <span class="form-control">{{
            courrierDetail["NumeroFacture"]
          }}</span>
        </div>
      </div>
      <div class="col-md-6">
        <label>MONTANT</label>
        <span class="form-control">
          {{ courrierDetail["montant"] }}
        </span>
      </div>
    </div>
  </div>
</div>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>ANNULER</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>FERMER</button>
</mat-dialog-actions>
