<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4>COURRIER ARRIVEE</h4>
    </div>
  </div>
  <div class="form">
    <div class="row">
      <div class="col-md-12">
        <label for="object:" class="form-label">Object</label>
        <span class="form-control">
          {{ courrierDetail["object"] }}
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label>Numero Du Courier</label>
        <span class="form-control">{{ courrierDetail["numeroCourier"] }}</span>
      </div>
      <div class="col-md-6">
        <label>Date Arriver du Courier</label>
        <span class="form-control">{{ courrierDetail["Date"] }}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Expediteur Du Courier</label>
          <span class="form-control">{{ courrierDetail["expediteur"] }}</span>
        </div>
      </div>
      <div class="col-md-6">
        <label>BENEFICIAIRE</label>
        <span class="form-control">
          {{ courrierDetail["beneficiaire"] }}
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>NUMERO FACTURE</label>
          <span class="form-control">{{
            courrierDetail["NumeroFacture"]
          }}</span>
        </div>
      </div>
      <div class="col-md-6">
        <label>MONTANT</label>
        <span class="form-control">
          {{ courrierDetail["montant"] }}
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label>Numero Correspondance</label>
        <span class="form-control">{{
          courrierDetail["numeroCorrespondance"]
        }}</span>
      </div>
      <div class="col-md-6">
        <label>Date Correspondance du Courier</label>
        <span class="form-control">{{
          courrierDetail["dateCorrespondance"]
        }}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label>Numero Reponse</label>
        <span class="form-control">{{ courrierDetail["numeroReponse"] }}</span>
      </div>
      <div class="col-md-6">
        <label>Date Reponse</label>
        <span class="form-control">{{ courrierDetail["dateReponse"] }}</span>
      </div>
    </div>
  </div>
</div>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>ANNULER</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>FERMER</button>
</mat-dialog-actions>
