<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Yinka Enoch Adedokun">
	<title>Login Page</title>
</head>
<body style="background-image: url('/assets/bg3.png');">
	<!-- Main Content -->
	<div class="container">
        <div class="images p-3">
            <img src="../assets/AUDIT.jpg"  width="100%" height="120" alt="">
        </div>
		<div class="row main-content bg-success text-center mt-5">
			<div class="col-md-4 text-center company__info">
				<span class="company__logo"><h2><span class="fa fa-android"></span></h2></span>
				<h4 class="company_title">COUD</h4>
			</div>
			<div class="col-md-8 col-xs-12 col-sm-12 login_form ">
				<div class="container-fluid">
					<div class="row">
						<h2>CONNEXION</h2>
					</div>
					<div class="row">
						<span style="color: red; font-size: 20px;" *ngIf="erreur!=''"> {{ erreur }} </span>
						<form [formGroup]="addForm" class="form-group">
							<div class="row">
								<input type="text" id="inputUsername"  formControlName="username" name="username" class="form__input" placeholder="Username">
								<span style="color: red; font-size: 16px;" *ngIf="erreurUsername!=''"> {{ erreurUsername }} </span>
							</div>
							<div class="row">
								<!-- <span class="fa fa-lock"></span> -->
								<input type="password"id="inputPassword" formControlName="password" name="password" class="form__input" placeholder="Password">
								<span style="color: red; font-size: 16px;" *ngIf="erreurPassword!=''"> {{ erreurPassword }} </span>
							</div>
							<div class="row">
								<input type="checkbox" name="remember_me" id="remember_me" class="">
								<label for="remember_me">Remember Me!</label>
							</div>
							<div class="row">
								<input (click)="onSignIn()" type="submit" value="Submit" class="btn">
							</div>
						</form>
					</div>
					<div class="row">
						<p>Don't have an account? <a href="#">Register Here</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>