<div class="container">
  <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
    {{ !isLinear ? "Active la lecture" : "Desactiver la lecture" }}
  </button>
  <mat-stepper [linear]="isLinear" #stepper class="shadow-lg">
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>LISTES COURRIERS ARRIVES</ng-template>
        <app-courrier-liste
          *ngIf="
            role.includes('ROLE_ASSISTANTE') ||
            role.includes('ROLE_COORDINATEUR') ||
            role.includes('ROLE_CONTROLEURS')
          "
        ></app-courrier-liste>
        <div class="example-button-row mt-3">
          <button
            mat-raised-button
            color="primary"
            (click)="nouveauCourrier()"
            *ngIf="
              role.includes('ROLE_ASSISTANTE') ||
              role.includes('ROLE_COORDINATEUR')
            "
          >
            NOUVEAU COURRIER ARRIVE
          </button>
        </div>
        <div>
          <button mat-button matStepperNext>SUIVANT</button>
        </div>
      </form>
    </mat-step>
    <!-- <mat-step
      [stepControl]="firstFormGroup"
      *ngIf="
        role.includes('ROLE_COORDINATEUR') || role.includes('ROLE_CONTROLEURS')
      "
    >
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>NOUVEAU FICHE DE CONTROLE </ng-template>
        <app-fiche-de-controle></app-fiche-de-controle>
        <div>
          <button mat-button matStepperNext>SUIVANT</button>
        </div>
      </form>
    </mat-step> -->
    <mat-step
      *ngIf="role.includes('ROLE_CONTROLEURS')"
      [stepControl]="secondFormGroup"
      label="LISTE FICHE DE CONTROLE"
    >
      <form [formGroup]="secondFormGroup">
        <app-fiche-de-controle-interne></app-fiche-de-controle-interne>
        <div class="example-button-row">
          <button
            mat-raised-button
            color="primary"
            (click)="nouveauFicheControle()"
            *ngIf="
              role.includes('ROLE_CONTROLEURS') ||
              role.includes('ROLE_COORDINATEUR')
            "
          >
            NOUVEAU FICHE DE CONTROLE INTERNE
          </button>
        </div>
        <div>
          <button mat-button matStepperPrevious>RETOUR</button>
        </div>
      </form>
    </mat-step>
    <mat-step
      *ngIf="
        role.includes('ROLE_ASSISTANTE') || role.includes('ROLE_COORDINATEUR')
      "
    >
      <ng-template matStepLabel>LISTES COURRIERS DEPARTS</ng-template>
      <!-- <app-courier-depart></app-courier-depart> -->
      <app-list-courriers-depart></app-list-courriers-depart>
      <div>
        <button mat-button matStepperPrevious>RETOUR</button>
        <button mat-button (click)="stepper.reset()">ANNULER</button>
      </div>
    </mat-step>
  </mat-stepper>
</div>
