<div class="container">
    <div class="card-body ">
        <div class="card text-center" style="width:100%; background-color: #28a745;">
        <h3 style="color:white">FACTURE DU COURRIER</h3></div>
    </div>
   </div>
   
   <div class="container shadow-lg p-3" style=" background-color: white;">
      
       <form method="post">
         <div class="form-group">
           <label>Numéro de facture:</label><br>
           <span > {{numerFac}} </span><br>
           <!-- <input disabled type="texte" class="form-control" name="saisir" placeholder=""> -->
         </div>
         <div class="form-group">
           <label>Montant:</label><br>
           <span  >{{ montantFac }}</span><br> 
           <!-- <input disabled type="texte" class="form-control" placeholder="  " name="saisir"> -->
         </div>
         <div class="form-group">
           <label>Objet:</label><br>
           <span  >{{objetFac}}</span><br> 
           <!-- <input disabled type="texte" class="form-control" placeholder="" name="saisir"> -->
         </div>
         <div class="form-group">
           <label>Bénéficiare</label><br>
           <span>{{ beneficaire }} </span><br> 
           <!-- <input disabled type="texte" class="form-control" placeholder=" " name="saisir"> -->
         </div>
     </form>
    </div>
   
    
   
   
   