<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>GESTION AUDITE COUD</title>
</head>
<body>
    <div class="container col-md-6 mt-5" style="box-shadow: 1px 5px 10px 3px beige;">
      <h4 style="text-align:center; background-color: blue; width: 60%; margin-left: 20%; color: white; border-radius: 5px;"> FICHE DE CONTROLE INTERNE </h4>
      <form method="post">
        <div class="form-group">
          <label>Document objet du controle</label><label for="" style="color: red; font-size: 20px;">*</label><br> 
          <input type="texte" class="form-control" placeholder="Document objet du controle:" name="saisir">
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Controleur</label><label for="" style="color: red; font-size: 20px;">*</label><br>
          <select class="form-control  col-md-120." id="exampleFormControlSelect1">
            <option>Choisir un controleur</option>
            <option>controleur1</option>
            <option>controleur2</option>
            <option>controleur3</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="Avis Controleur:" class="form-label">Avis  controleur</label>
          <textarea class="form-control" id="Avis controleur " rows="3"></textarea>
        </div>
        <div class="mb-3">
          <label for="Motivation de l'avis:" class="form-label">Motivation de l'avis</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
        </div>
        <div class="mb-3">
          <label for="Recommandations Controleur:" class="form-label">Recommandations Controleur</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary" name="submit">Annuler</button>
          <button type="submit" class="btn btn-primary ml-5" name="submit">Envoyer</button>
        </div>
    </form>
   </div>
  </body>
</html>