
<div class="container col-md-12 shadow-lg pt-4" >
   
    <div class="login-erreur-container text-center" >
      <span class="login-erreur">  </span>
    </div>
    <form method="post">
      <div class="row">
        <div class="col">
          <label for="object:" class="form-label">Object</label>
          <input
            type="text"
            class="form-control"
            id="object"
            formControlName="object"
          />
        </div>
        <div class="col">
          <label for="beneficiaire:" class="form-label">Bénéficiaire</label>
          <input
            type="text"
            class="form-control"
            id="beneficiaire"
            formControlName="beneficiaire"
          />
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="NumeroFacture:" class="form-label">Numéro Facture</label>
          <input
            type="text"
            class="form-control"
            id="NumeroFacture"
            formControlName="NumeroFacture"
          />
        </div>
        <div class="col">
          <label for="montant" class="form-label">Montant</label>
          <input
            type="text"
            class="form-control"
            id="montant"
            formControlName="montant"
          />
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label>Numéro Du Courier</label>
          <input
            type="text"
            class="form-control"
            formControlName="numeroCourier"
            id="numeroCourier"
          />
        </div>
        <div class="col">
          <label>Date Arriver du Courier</label>
          <input
            type="Date"
            class="form-control"
            formControlName="Date"
            id="Date"
          />
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label>Expediteur Du Courier</label>
            <input
              type="text"
              class="form-control"
              formControlName="expediteur"
              id="expediteur"
            />
          </div>
        </div>
        <div class="col">
          <label>Affecter un controleur</label>
          <select
            class="form-control"
            id="controleur"
            formControlName="controleur" >
            <option disabled>choisir un controleur</option>
            <option
              value="/api/coud/controleurs/id"
            >
            </option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label>Numéro Correspondance</label>
          <input
            type="text"
            class="form-control"
            formControlName="numeroCorrespondance"
            id="numeroCorrespondance"
          />
        </div>
        <div class="col">
          <label>Date Correspondance du Courier</label>
          <input
            type="date"
            class="form-control"
            id="dateCorrespondance"
            formControlName="dateCorrespondance"
          />
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label>Numéro Réponse</label>
          <input
            type="text"
            class="form-control"
            formControlName="numeroReponse"
            id="numeroReponse"
          />
        </div>
        <div class="col">
          <label>Date Réponse</label>
          <input
            type="date"
            class="form-control"
            id="dateReponse"
            formControlName="dateReponse"/>
        </div>
      </div>
      <div class="text-center">
        <!-- <button type="submit" class="btn btn-primary" name="submit">Annuler</button> -->
        <button
          type="submit"
          class="btn bg-primary btn-lg btn-block"
          name="submit"
          style="color:white"
          (click)="onSignIn()"
        >
          Modifier
        </button>
      </div>
    </form>
  </div>
  