<div class="container col-md-12">
  <h4
    style="
      text-align: center;
      background-color: blue;
      width: 60%;
      height: 50%;
      margin-left: 20%;
      color: white;
      border-radius: 5px;
      padding: 5px;
    "
  >
    MODIFIER COURRIER ARRIVER
  </h4>
  <div *ngIf="erreur != ''" class="login-erreur-container text-center bg-danger">
    <span class="login-erreur"> {{ erreur }} </span>
  </div>
  <div *ngIf="success != ''" class="login-erreur-container text-center bg-success">
    <span class="login-erreur"> {{ success }} </span>
  </div>
  <form method="post" [formGroup]="addForm">
    <div class="row">
      <div class="col">
        <label for="object:" class="form-label">Object</label>
        <input
          type="text"
          class="form-control"
          id="object"
          formControlName="object"
        />
        <span
          class="login-erreur"
          *ngIf="erreurobject != ''"
          style="color: red"
        >
          {{ erreurobject }}
        </span>
      </div>
      <div class="col">
        <label for="beneficiaire:" class="form-label">Bénéficiaire</label>
        <input
          type="text"
          class="form-control"
          id="beneficiaire"
          formControlName="beneficiaire"
        />
        <span
          class="login-erreur"
          *ngIf="erreurBeneficiaire != ''"
          style="color: red"
        >
          {{ erreurBeneficiaire }}
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label for="NumeroFacture:" class="form-label">Numéro Facture</label>
        <input
          type="text"
          class="form-control"
          id="NumeroFacture"
          formControlName="NumeroFacture"
        />
        <span
          class="login-erreur"
          *ngIf="erreurFacture != ''"
          style="color: red"
        >
          {{ erreurFacture }}
        </span>
      </div>
      <div class="col">
        <label for="montant" class="form-label">Montant</label>
        <input
          type="text"
          class="form-control"
          id="montant"
          formControlName="montant"
        />
        <span
          class="login-erreur"
          *ngIf="erreurMontant != ''"
          style="color: red"
        >
          {{ erreurMontant }}
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label>Numéro Du Courier</label>
        <label for="" style="color: red; font-size: 20px">*</label><br />
        <input
          type="text"
          class="form-control"
          formControlName="numeroCourier"
          id="numeroCourier"
        />
        <span
          class="login-erreur"
          *ngIf="erreurnumeroCourier != ''"
          style="color: red"
        >
          {{ erreurnumeroCourier }}
        </span>
      </div>
      <div class="col">
        <label>Date Arriver du Courier</label
        ><label for="" style="color: red; font-size: 20px">*</label><br />
        <input
          type="Date"
          class="form-control"
          formControlName="Date"
          id="Date"
        />
        <span
          class="login-erreur"
          *ngIf="erreurdateArriver != ''"
          style="color: red"
        >
          {{ erreurdateArriver }}
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label>Expediteur Du Courier</label>
          <label for="" style="color: red; font-size: 20px">*</label><br />
          <input
            type="text"
            class="form-control"
            formControlName="expediteur"
            id="expediteur"
          />
          <span
            class="login-erreur"
            *ngIf="erreurexpediteur != ''"
            style="color: red"
          >
            {{ erreurexpediteur }}
          </span>
        </div>
      </div>
      <div class="col">
        <label>Affecter un controleur</label>
        <label for="" style="color: red; font-size: 20px">*</label><br />
        <select
          class="form-control"
          id="controleurs"
          formControlName="controleurs"
        >
          <option disabled>choisir un controleur</option>
          <option
            value="/api/coud/controleurs/{{ ctrl.id }}"
            *ngFor="let ctrl of controleurs"
          >
            {{ ctrl.prenom }} {{ ctrl.nom }}
          </option>
        </select>
        <span
          class="login-erreur"
          *ngIf="erreurControleur != ''"
          style="color: red"
        >
          {{ erreurControleur }}
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label>Numéro Correspondance</label>
        <label for="" style="color: red; font-size: 20px">*</label><br />
        <input
          type="text"
          class="form-control"
          formControlName="numeroCorrespondance"
          id="numeroCorrespondance"
        />
        <span
          class="login-erreur"
          *ngIf="erreurnumeroCorrespondance != ''"
          style="color: red"
        >
          {{ erreurnumeroCorrespondance }}
        </span>
      </div>
      <div class="col">
        <label>Date Correspondance du Courier</label>
        <label for="" style="color: red; font-size: 20px">*</label><br />
        <input
          type="date"
          class="form-control"
          id="dateCorrespondance"
          formControlName="dateCorrespondance"
        />
        <span
          class="login-erreur"
          *ngIf="erreurdateCorrespondance != ''"
          style="color: red"
        >
          {{ erreurdateCorrespondance }}
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label>Numéro Réponse</label>
        <label for="" style="color: red; font-size: 20px">*</label><br />
        <input
          type="text"
          class="form-control"
          formControlName="numeroReponse"
          id="numeroReponse"
        />
        <span
          class="login-erreur"
          *ngIf="erreurnumeroReponse != ''"
          style="color: red"
        >
          {{ erreurnumeroReponse }}
        </span>
      </div>
      <div class="col">
        <label>Date Réponse</label>
        <label for="" style="color: red; font-size: 20px">*</label><br />
        <input
          type="date"
          class="form-control"
          id="dateReponse"
          formControlName="dateReponse"
        />
        <span
          class="login-erreur"
          *ngIf="erreurdateReponse != ''"
          style="color: red"
        >
          {{ erreurdateReponse }}
        </span>
      </div>
    </div>
    <div class="text-center">
      <!-- <button type="submit" class="btn btn-primary" name="submit">Annuler</button> -->
      <button
        type="submit"
        class="btn bg-primary btn-lg btn-block"
        name="submit"
        style="color: white"
        (click)="onSignIn()"
      >
        Enregistrer
      </button>
    </div>
  </form>
</div>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>ANNULER</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>
    APPLIQUER
  </button>
</mat-dialog-actions>
