<div class="container-fluid">
  <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
    {{ !isLinear ? "Active la lecture" : "Desactiver la lecture" }}
  </button>

  <mat-stepper [linear]="isLinear" #stepper class="shadow-lg">
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>COURRIERS-ARRIVÉS</ng-template>
        <app-courrier-liste
          *ngIf="
            role.includes('ROLE_ASSISTANTE') ||
            role.includes('ROLE_COORDONATEUR') ||
            role.includes('ROLE_CONTROLEUR')
          "
        ></app-courrier-liste>
        <div class="example-button-row mt-3">
          <button
            title="Ajouter un nouveau courrier"
            mat-raised-button
            style="background-color: #3b5998; color: white"
            (click)="nouveauCourrier()"
            *ngIf="role.includes('ROLE_ASSISTANTE')"
          >
            NOUVEAU COURRIER ARRIVÉ
          </button>
        </div>
      </form>
    </mat-step>

    <mat-step
      *ngIf="
        role.includes('ROLE_CONTROLEUR') ||
        role.includes('ROLE_COORDONATEUR') ||
        role.includes('ROLE_ASSISTANTE')
      "
    >
      <ng-template matStepLabel>COURRIERS-ENCOURS </ng-template>
      <courriers-valider></courriers-valider>
    </mat-step>

    <mat-step
      *ngIf="
        role.includes('ROLE_ASSISTANTE') ||
        role.includes('ROLE_COORDONATEUR') ||
        role.includes('ROLE_CONTROLEUR')
      "
    >
      <ng-template matStepLabel>COURRIERS-DEPART</ng-template>
      <app-list-courriers-depart></app-list-courriers-depart>
    </mat-step>
  </mat-stepper>
</div>
