<div class="container-fluid">
  <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
    {{ !isLinear ? "Active la lecture" : "Desactiver la lecture" }}
  </button>

  <mat-stepper [linear]="isLinear" #stepper class="shadow-lg">
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>COURRIERS-ENCOURS</ng-template>
        <app-courrier-liste
          *ngIf="
            role.includes('ROLE_ASSISTANTE') ||
            role.includes('ROLE_COORDINATEUR') ||
            role.includes('ROLE_CONTROLEURS')
          "
        ></app-courrier-liste>
        <div class="example-button-row mt-3">
          <button
            mat-raised-button
            style="background-color: #3b5998; color: white"
            (click)="nouveauCourrier()"
            *ngIf="role.includes('ROLE_ASSISTANTE')"
          >
            NOUVEAU COURRIER ARRIVEE
          </button>
        </div>
      </form>
    </mat-step>

    <mat-step
      *ngIf="
        role.includes('ROLE_CONTROLEURS') || role.includes('ROLE_COORDINATEUR')
      "
    >
      <ng-template matStepLabel>COURRIERS-TRAITÉS </ng-template>
      <courriers-valider></courriers-valider>
    </mat-step>

    <mat-step
      *ngIf="role.includes('ROLE_CONTROLEURS')"
      [stepControl]="secondFormGroup"
      label="FICHES DE CONTROLES"
      style="width: 100%"
    >
      <app-fiche-de-controle-interne></app-fiche-de-controle-interne>
      <form [formGroup]="secondFormGroup">
        <!-- <div class="example-button-row">
          <button
            id="buttonFiche"
            mat-raised-button
            style="background-color: #3b5998; color: white"
            (click)="nouveauFicheControle()"
            *ngIf="
              role.includes('ROLE_CONTROLEURS') ||
              role.includes('ROLE_COORDINATEUR')
            "
          >
            NOUVEAU FICHE
          </button>
        </div> -->
      </form>
    </mat-step>

    <mat-step
      *ngIf="
        role.includes('ROLE_ASSISTANTE') ||
        role.includes('ROLE_COORDINATEUR') ||
        role.includes('ROLE_CONTROLEURS')
      "
    >
      <ng-template matStepLabel>TOTAL-COURRIERS-ARRIVÉE</ng-template>
      <total-arriver></total-arriver>
    </mat-step>

    <mat-step
      *ngIf="
        role.includes('ROLE_ASSISTANTE') ||
        role.includes('ROLE_COORDINATEUR') ||
        role.includes('ROLE_CONTROLEURS')
      "
    >
      <ng-template matStepLabel>COURRIERS-DEPART</ng-template>
      <app-list-courriers-depart></app-list-courriers-depart>
    </mat-step>
  </mat-stepper>
</div>
