<mat-dialog-content class="mat-typography">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="container-fluid">
          <header>
            <p>
              REPUBLIQUE DU SENEGAL <br />
              Un Peuple - Un But - Une Foi <br />
              MINISTÈRE DE L'ENSEIGNEMENT SUPÉRIEUR, <br />
              DE LA RECHERCHE ET DE L'INNOVATION <br />
              CENTRE DES OEUVRES UNIVERSITAIRES DE DAKAR <br />
              Dirction
            </p>
            <div class="logo">
              <img
                src="../../../assets/logo_coud copy.png"
                alt=""
                width="100%"
                style="margin-left: -200%"
              />
              <span style="margin-left: 100%; font-size: 12px"
                >N° ..................................COUD/DIR/CSA <br />
                Dakar, le
                .......................................................</span
              ><br />
            </div>
          </header>
          <h4 style="margin-top: 15%; margin-left: 35%; margin-bottom: 3%">
            <u>FICHE DE CONTROLE INTERNE</u>
          </h4>
          <section class="col-12">
            <div
              class="objet"
              style="
                border: 2px solid black;
                margin-bottom: 5%;
                height: 50px;
                font-size: 20px;
              "
            >
              <b>Document objet du controle:</b> {{ fiche["objet"] }}
            </div>
            <table class="tables" border="1">
              <tbody>
                <tr>
                  <td
                    style="
                      width: 50%;
                      height: 100px;
                      text-align: left;
                      border: 1px solid black;
                    "
                  >
                    <b><u>Controleur</u>:</b>
                    {{ fiche["controleurs"]["prenom"] }}
                    {{ fiche["controleurs"]["nom"] }}
                  </td>
                  <td
                    style="
                      width: 50%;
                      height: 100px;
                      text-align: left;
                      border: 1px solid black;
                    "
                  >
                    <b><u>Avis Controleur</u>:</b> {{ fiche["avisControleur"] }}
                  </td>
                </tr>
                <tr>
                  <td
                    style="
                      width: 50%;
                      height: 200px;
                      text-align: left;
                      border: 1px solid black;
                    "
                  >
                    <b><u>Motivation de l'Avis</u>:</b>
                    {{ fiche["motivation"] }}
                  </td>
                  <td
                    style="
                      width: 50%;
                      height: 200px;
                      text-align: left;
                      border: 1px solid black;
                    "
                  >
                    <b><u>Recommandations Controleur</u>:</b>
                    {{ fiche["recommandations"] }}
                  </td>
                </tr>
                <tr>
                  <td
                    colspan="4"
                    style="height: 100px; border: 1px solid black"
                  >
                    <b><u>Signature Controleur</u></b>
                  </td>
                </tr>
                <tr>
                  <td
                    style="width: 50%; height: 100px; border: 1px solid black"
                  >
                    <b><u>Le chef du Bureau</u></b>
                  </td>
                  <td
                    style="width: 50%; height: 100px; border: 1px solid black"
                  >
                    <b><u>Le coordonnateur CACG</u></b>
                  </td>
                </tr>
              </tbody>
            </table>
          </section>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>ANNULER</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>FERMER</button>
</mat-dialog-actions>
