.row{
    margin-bottom: 2%;
}
.row h4{
    margin-top: -1%;
    font-size: 20px;
}
label{
    font-size: 18px;
    color: black;
    font-weight: bold;
}
span{
    font-size: 20px;
    color: blue;
    font-weight: bold;
}