
<div class="container mb-9">
    <h4 style="text-align:center; background-color: blue; width: 60%; margin-left: 20%; color: white; border-radius: 5px;"> COURRIER ARRIVER </h4>
    <div class="form">
        <div class="row">
            <label for="object:" class="form-label">Object</label>
            <span class="form-control"> <h4>{{ Connecter["object"] }}</h4> </span>
        </div>
        <div class="row">
            <div class="col">
                <label>Numero Du Courier</label>
                <span class="form-control"><h4>{{ Connecter["numeroCourier"] }}</h4></span>
            </div>
            <div class="col">
                <label>Date Arriver du Courier</label>
                <span class="form-control"><h4>{{ Connecter["Date"] }}</h4></span>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label>Expediteur Du Courier</label>
                    <span class="form-control"><h4>{{ Connecter["expediteur"] }}</h4></span>
                </div>
            </div>
            <div class="col">
                <label>CONTROLEUR</label>
                <span class="form-control"><h4>{{ controleur }} {{ controleur }}</h4></span>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label>Numero Correspondance</label>
                <span class="form-control"><h4>{{ Connecter["numeroCorrespondance"] }}</h4></span>
            </div>
            <div class="col">
                <label>Date Correspondance du Courier</label>
                <span class="form-control"><h4>{{ Connecter["dateCorrespondance"] }}</h4></span>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label>Numero Reponse</label>
                <span class="form-control"><h4>{{ Connecter["numeroReponse"] }}</h4></span>
            </div>
            <div class="col">
                <label>Date Reponse</label>
                <span class="form-control"><h4>{{ Connecter["dateReponse"] }}</h4></span>
            </div>
        </div>
    </div>
</div>