<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="style.css"> -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
    <title>formulaire</title>
</head>
<body>

 <div class="container">
     <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      
    </div>
  </nav>
   <form>
            <h1 class="text-center">Fiche de controle interne</h1>
        <div class="form-group ">
            <label for="exampleFormControlInput1">Document objet du controle</label>
            <input type="email" class="form-control col-md-4" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Controleur</label>
            <select class="form-control  col-md-4" id="exampleFormControlSelect1">
                <option>Choisir un controleur</option>
                <option>Doudou diop</option>
                <option>Issa sarr</option>
                <option>Fatou diop</option>
                <option>Gnilane Faye</option>
            
            </select>
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Avis Contoleur</label>
            <textarea class="form-control  col-md-4" id="exampleFormControlTextarea1" rows="4"></textarea>
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Recommandations Contoleur</label>
            <textarea class="form-control  col-md-4" id="exampleFormControlTextarea1" rows="4"></textarea>
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Motivation de l'Avis </label>
            <textarea class="form-control  col-md-4" id="exampleFormControlTextarea1" rows="4"></textarea>
        </div>
       <div> <button type="submit" class="btn btn-primary">Envoyer</button>
       <button type="submit" class="btn btn-primary">Annuler</button></div>
    </form>
</div>
</body>
</html>