<div class="container-fluid col-md-12">
  <h4>COURRIER DEPART</h4>
  <div
    *ngIf="erreur != ''"
    class="login-erreur-container text-center bg-danger"
  >
    <span class="login-erreur"> {{ erreur }} </span>
  </div>
  <div
    *ngIf="success != ''"
    class="login-erreur-container text-center bg-success"
  >
    <span class="login-erreur"> {{ success }} </span>
  </div>
  <form method="post" [formGroup]="addForm">
    <div class="row">
      <div class="col">
        <label>NUMERO COURRIER</label>
        <input
          type="text"
          class="form-control"
          formControlName="numeroCourier"
          id="numeroCourier"
          disabled
        />
        <span
          class="login-erreur"
          *ngIf="erreurnumeroCourier != ''"
          style="color: red"
        >
          {{ erreurnumeroCourier }}
        </span>
      </div>
      <div class="col-md-6">
        <label for="object:" class="form-label">Object</label>
        <input
          type="text"
          class="form-control"
          id="object"
          formControlName="object"
          disabled
        />
        <span
          class="login-erreur"
          *ngIf="erreurobject != ''"
          style="color: red"
        >
          {{ erreurobject }}
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label>NUMERO FACTURE </label>
        <input
          type="text"
          class="form-control"
          formControlName="NumeroFacture"
          id="NumeroFacture"
          disabled
        />
        <span
          class="login-erreur"
          *ngIf="erreurNumeroFacture != ''"
          style="color: red"
        >
          {{ erreurNumeroFacture }}
        </span>
      </div>
      <div class="col-md-6">
        <label for="destinataire" class="form-label">DESTINATAIRE</label>
        <input
          type="text"
          class="form-control"
          id="destinataire"
          formControlName="destinataire"
          disabled
        />
        <span
          class="login-erreur"
          *ngIf="erreurdestinataire != ''"
          style="color: red"
        >
          {{ erreurdestinataire }}
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label>MONTANT</label>
        <input
          type="text"
          class="form-control"
          id="montant"
          formControlName="montant"
          disabled
        />
        <span
          class="login-erreur"
          *ngIf="erreurmontant != ''"
          style="color: red"
        >
          {{ erreurmontant }}
        </span>
      </div>
      <div class="col-md-6">
        <label>Date départ</label>
        <input
          type="date"
          class="form-control"
          formControlName="dateDepart"
          id="dateDepart"
        />
        <span
          class="login-erreur"
          *ngIf="erreurdateDepart != ''"
          style="color: red"
        >
          {{ erreurdateDepart }}
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <label>Observation Courier</label>
        <input
          class="form-control"
          formControlName="observation"
          id="observation"
        />
        <span
          class="login-erreur"
          *ngIf="erreurobservation != ''"
          style="color: red"
        >
          {{ erreurobservation }}
        </span>
      </div>
    </div>
    <div class="text-center">
      <button
        type="submit"
        class="btn btn-success btn-lg btn-block"
        name="submit"
        (click)="onSignIn()"
      >
        VALIDER COMME DEPART
      </button>
    </div>
  </form>
</div>
<mat-dialog-actions align="end">
  <!-- <button mat-button mat-dialog-close>ANNULER</button>-->
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>FERMER</button>
</mat-dialog-actions>
