<div class="container-fluid col-md-12">
  <h4>COURRIER DEPART</h4>
  <div
    *ngIf="erreur != ''"
    class="login-erreur-container text-center bg-danger"
  >
    <span class="login-erreur"> {{ erreur }} </span>
  </div>
  <div
    *ngIf="success != ''"
    class="login-erreur-container text-center bg-success"
  >
    <span class="login-erreur"> {{ success }} </span>
  </div>
  <form method="post" [formGroup]="addForm">
    <div class="row">
      <div class="col-md-6">
        <label for="object:" class="form-label">Object</label>
        <input
          type="text"
          class="form-control"
          id="object"
          formControlName="object"
          disabled
        />
        <span
          class="login-erreur"
          *ngIf="erreurobject != ''"
          style="color: red"
        >
          {{ erreurobject }}
        </span>
      </div>
      <div class="col-md-6">
        <label for="beneficiaire" class="form-label">BENEFICIAIRE</label>
        <input
          type="text"
          class="form-control"
          id="beneficiaire"
          formControlName="beneficiaire"
          disabled
        />
        <span
          class="login-erreur"
          *ngIf="erreurbeneficiaire != ''"
          style="color: red"
        >
          {{ erreurbeneficiaire }}
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label>Numéro Courier</label>
        <input
          type="text"
          class="form-control"
          formControlName="numeroCourier"
          id="numeroCourier"
          disabled
        />
        <span
          class="login-erreur"
          *ngIf="erreurnumeroCourier != ''"
          style="color: red"
        >
          {{ erreurnumeroCourier }}
        </span>
      </div>
      <div class="col">
        <label>Date départ</label>
        <input
          type="date"
          class="form-control"
          formControlName="Date"
          id="Date"
        />
        <span
          class="login-erreur"
          *ngIf="erreurdateDepart != ''"
          style="color: red"
        >
          {{ erreurdateDepart }}
        </span>
      </div>
    </div>
    <div class="form-group">
      <label>Observation Courier</label>
      <textarea
        class="form-control"
        formControlName="observation"
        id="observation"
        rows="3"
      ></textarea>
      <span
        class="login-erreur"
        *ngIf="erreurobservation != ''"
        style="color: red"
      >
        {{ erreurobservation }}
      </span>
    </div>
    <div class="row">
      <div class="col">
        <label>NUMERO FACTURE </label>
        <input
          type="text"
          class="form-control"
          formControlName="NumeroFacture"
          id="NumeroFacture"
          disabled
        />
        <span
          class="login-erreur"
          *ngIf="erreurNumeroFacture != ''"
          style="color: red"
        >
          {{ erreurNumeroFacture }}
        </span>
      </div>
      <div class="col">
        <label>MONTANT</label>
        <input
          type="text"
          class="form-control"
          id="montant"
          formControlName="montant"
          disabled
        />
        <span
          class="login-erreur"
          *ngIf="erreurmontant != ''"
          style="color: red"
        >
          {{ erreurmontant }}
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label>Numéro archive </label>
        <input
          type="text"
          class="form-control"
          formControlName="numeroArchive"
          id="numeroArchive"
        />
        <span
          class="login-erreur"
          *ngIf="erreurnumeroArchive != ''"
          style="color: red"
        >
          {{ erreurnumeroArchive }}
        </span>
      </div>
      <div class="col">
        <label>Destination</label>
        <input
          type="text"
          class="form-control"
          id="destination"
          formControlName="destination"
        />
        <span
          class="login-erreur"
          *ngIf="erreurdestination != ''"
          style="color: red"
        >
          {{ erreurdestination }}
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label>Nombre de pieces</label>
        <input
          type="text"
          class="form-control"
          formControlName="nombrePiece"
          id="nombrePiece"
        />
        <span
          class="login-erreur"
          *ngIf="erreurnombrePiece != ''"
          style="color: red"
        >
          {{ erreurnombrePiece }}
        </span>
      </div>
      <div class="col">
        <label>Numéro Ordre</label>
        <input
          type="text"
          class="form-control"
          id="numeroOrdre"
          formControlName="numeroOrdre"
        />
        <span
          class="login-erreur"
          *ngIf="erreurnumeroOrdre != ''"
          style="color: red"
        >
          {{ erreurnumeroOrdre }}
        </span>
      </div>
    </div>
    <div class="text-center">
      <button
        type="submit"
        class="btn btn-success btn-lg btn-block"
        name="submit"
        (click)="onSignIn()"
      >
        VALIDER COMME DEPART
      </button>
    </div>
  </form>
</div>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>ANNULER</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>FERMER</button>
</mat-dialog-actions>
